
header{
    /* border: 2px solid red; */
   
}
section{
    /* border: 2px solid pink; */
    width: 700px;
    height: 500px;
    margin-left: 38px;
    top: 831px;
    background: #D9D9D9;
}
.vish{
    border: 2px solid black;
    width: 500px;
    height: 250px;
   margin-left: 68px;
   margin-top: 100px;
   /* margin-bottom: 416px; */
    
   
}
.asd{
    /* border: 2px solid blueviolet; */
/* height: 87px;
left: 0;
right: 0; */
background-color: black; 
    
}
.abc{
    /* border: 2px solid pink; */
    
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #ffff;
width: 180px;
/* height: 29px; */
margin-left: 38px;
padding: 20px 10px;
  

}
.bnm{
    /* border: 2px solid yellow ; */
    width: 600px;
    height: 40px;
   margin-left: 38px; 
   top: 140px;
   font-family: 'Inter';
   
}
div{
    /* border: 2px solid black; */
    top: 245px;
    margin-left: 38px;
    height: 450px;
    }
    .vbn{
        /* border: 2px solid red; */
        margin-left: 49px;
        width: 129px;
        height: 33px;
    }

.che{
    /* border: 2px solid violet; */
    width: 600px;
    height: 40px;
    top: 669px;
    font-family: 'Inter';
}
.nil{
/* border: 2px double black; */
width: 600px;
height: 50px;
margin-left: 38px;
/* font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px; */
font-family: 'Inter';
}
.man{
/* border: 2px dotted blue; */
width: 1624px;
height: 85px;
margin-left: 38px;
font-family: 'Inter';

/* font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px; */
}
.bab{
/* border: 2px double black; */
width: 600px;
height: 50px;
margin-left: 38px;
font-family: 'Inter';
}
.shiv{
/* border: 2px dotted blue; */
width: 1624px;
height: 85px;
margin-left: 38px;
font-family: 'Inter';
}
.boys{
    font-family: 'Inter';
}   

